* {
  padding: 0rem;
  margin: 0rem;
  border: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #eee;
}

/* In your CSS file */
.custom-link {
  text-decoration: none;
  font-size: 1rem;
  color: #888;
}

.custom-link:hover {
  color: #fff;
}

/* Auth Form Login Register and OTP */

.auth-form {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-now {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background: #eee;
}
.shop-now:hover {
  background: #fff;
}
