* {
  padding: 0;
  margin: 0;
  border: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #eee;
}

/* In your CSS file */
.custom-link {
  text-decoration: none;
  font-size: 1rem;
  color: #888;
}

.custom-link:hover {
  color: #fff;
}
