* {
  padding: 0rem;
  margin: 0rem;
  border: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #eee;
}

/* In your CSS file */
.custom-link {
  text-decoration: none;
  font-size: 1rem;
  color: #888;
}

.custom-link:hover {
  color: #fff;
}

/* Auth Form Login Register and OTP */

.auth-form {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-now {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background: #eee;
}
.shop-now:hover {
  background: #fff;
}

/* card */
.card {
  /* Center slide text vertically */
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 300px !important; */
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 80%;
}
.card .card-icon {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -2rem;
  left: -2rem;
  gap: 0.5rem;
}

.card:hover .card-icon {
  bottom: 7rem;
  left: 7rem;
}
.product-card .card {
  width: 270px;
}
/* Detail Image */
.card-detail-image {
  width: 45%;
  height: 330px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .product-card .card {
    width: 250px;
  }
}

/* Error */
.error img {
  width: 700px;
  height: 370px;
  object-fit: cover;
}
@media (max-width: 750px) {
  .error img {
    width: 90%;
    height: 300px;
    object-fit: contain;
  }
}

@media (max-width: 500px) {
  .error img {
    width: 90%;
    height: 250px;
    object-fit: contain;
  }
  .card-detail-image {
    width: 80%;
    height: 330px;
    object-fit: cover;
  }
}

@media (max-width: 340px) {
  .error img {
    width: 90%;
    height: 200px;
    object-fit: contain;
  }
}

/* Size Color button */

.size-btn {
  height: 40px;
  width: 60px;
  font-size: 1rem;
  border: 1px solid #888;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.color-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid #111;
}
.size-btn:hover,
.selected,
.selected-color {
  border: 3px solid #6a5acd;
  scale: 1.1;
}

/* quantity button */
.quantity-btn {
  padding: 0.5rem 0rem;
  width: 45px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
}
.quantity-btn:nth-child(1) {
  border-right: 1px solid #d1d5db;
}
.quantity-btn:nth-child(3) {
  border-left: 1px solid #d1d5db;
}
