.new-arrivals .slick-prev:before,
.new-arrivals .slick-next:before {
  display: none !important;
}

.categories {
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.categories img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.categories .category-name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
}
.categories .category-name span {
  font-size: 2rem;
  font-weight: bold;
  color: #fafafa;
}
.categories .category-name .shop-now {
  display: none;
}

.categories:hover .category-name .shop-now {
  display: flex;
}
@media (max-width: 500px) {
  .categories {
    width: 330px;
  }
}

@media (max-width: 400px) {
  .categories {
    width: 270px;
  }
}

/* Top Sellers */
.top-sellers .card {
  width: 270px;
}
